@{

        <button class="btn btn-outline-danger ms-3 mb-2" id="toggleLeftPanel">Show Assistant Setup</button>
        <select class="btn btn-outline-danger ms-3 mb-2" id="modelDropdowm">
            <option value="EOLgpt35">EOLgpt35</option>
            <option value="text-davinci-003">text-davinci-003</option>
        </select>

}
