@{
    ViewData["Title"] = "Home Page";
	ViewData["Username"] = ViewBag.LoggedInUser;
}

<div class="block-container container-fluid">

    <div class="block col-md-5 shadow transformed" id="leftPanel">
        @{
            if (ViewBag.IsUserAllowed == true)
                Html.RenderPartial("_AssistantSetup");
        }

    </div>

    <div class="block col-md-7 shadow transformed" id="rightPanel">
        <div class="chat-header">
            <div class="chat-session">
                Chat Session
            </div>
                <button type="button" id="clearResponse" class="secondary" value="Clear">Clear chat</button>
        </div>
        <div class="message-container" id="responseDiv"></div>
        <div  class="chat-footer">
            <textarea placeholder="User message" class="form-control" id="promptValue" rows="3" cols="65"></textarea>
            <button id="generateResponse" type="button" class="primary">
                <span class="spinner-border spinner-border-sm" style="display: none;" id="spinner" role="status"
                    aria-hidden="true"></span>
                Generate
            </button>
        </div>
    </div>
</div>
