@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}

<div>
    <div>
        <label>System</label>
        </div>
        <div>
        <textarea id="sytemMessage" rows="7" cols="100"></textarea>
        </div>
        <label>Field Info</label>
        </div>
        <div>
            <textarea id="txtfieldInfo" rows="2" cols="100"></textarea>
        </div>
    <div> 
        <label>User</label>
        </div>
        <div>
        <textarea id="promptValue" rows="2" cols="100"></textarea>
    </div>
    
    <button id="generateResponse" value="Generate">Generate</button>


<div id="responseDiv"></div>
<div>
    <label>History</label>
</div>
<div>
    <textarea id="txtHistory" rows="10" cols="100"></textarea>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var historyMessage;
            $("#responseDiv").hide();
            $("#generateResponse").click(function(){
                if($("#txtHistory").val()=="")
                {
                    var message=$("#sytemMessage").val()+"\n Here are the mappings:"+ $("#txtfieldInfo").val();
                    $.ajax({
                    url: "/Home/GetResponse/",
                    type: "GET",
                        data: { userInput: $("#promptValue").val(), systemMessage: message },
                        dataType: "json",
                        success: function (data) {
                        $("#responseDiv").show();
                        $("#responseDiv").text(data);
                        if ($("#txtHistory").val()=="")
                        {
                             historyMessage ="U:"+ $("#promptValue").val()+"\nA:"+data;
                        }
                        else
                        {
                            historyMessage =$("#txtHistory").val()+"\nU:"+ $("#promptValue").val()+"\nA:"+data;
                        }
                        $("#txtHistory").val(historyMessage);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
                else{

                    $.ajax({
                        url: "/Home/GetResponse/",
                        type: "GET",
                        data: { userInput: $("#promptValue").val(), history: $("#txtHistory").val() },
                        dataType: "json",
                        success: function (data) {
                            $("#responseDiv").show();
                            $("#responseDiv").text(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
            })
            

        });
    </script>
}