@{
    ViewData["Title"] = "Home Page";
    // Layout = null;
}
<style>

</style>
<div class="blockContainer container-fluid">
    <div class="block col-md-6 shadow">
        <button class="collapsible">System</button>
        <div class="content">
            <div>
                <textarea class="form-control" id="sytemMessage" rows="7" cols="80">You are helping users of an accounting system to write validation rules for sales orders. The validation rules are Excel like formulas but you do not need to use an = sign at the start and you do not need to start with IF. The expression will be evaluated to TRUE or FALSE by the accounting system.
    The following enumerations are all comma separated lists ended by period. In case a member contains a comma, the entire value will be enclosed in double quotes.
    You can only use the following operators: +,-,*,/,(,),=,<>,<,>,<=,>=,AND,OR,NOT.
    You can only use the following global functions: "Concat(string1,...)", "Date(Year, Month, Day)", "Day(Date)","Month(Date)","If(condition, truePart, falsePart)", "Today()","WeekDay(Date, Options)".
    You can only use the following properties: AmountDC, AmountFC, Currency, CustomerName, Division, SelectionCode, EntryDate, DueDate, SalesOrderNumber, SalesChannelCode, WarehouseCode.
    The default currency is EUR. The AmountDC contains always the amount in default currency. If the sales order is in another currency, the AmountFC contains the amount in foreign currency and the AmountDC contains the equivalent in default currency for that specific EntryDate. The EntryDate is the date of the sales order.
    Please answer concise and only provide the formula without explanation. If you need more input to build a valid formula, ask the user for it. If the user asks for explanation about the formula, explain what it means in business english.</textarea>
            </div>
        </div>
        <button class="collapsible">Information</button>
        <div class="content">
            <div>
                <textarea class="form-control" id="txtfieldInfo" rows="2" cols="80">amountdc represents sales amount. amountfc represents purchase amount.</textarea>
            </div>
        </div>
        <div class="shotMessageContainer">
            <div class="mb-3">
                <div>
                    <label for="shotMessageUser" class="form-label">User Message</label>
                </div>
                <div>
                    <textarea id="shotMessageUser" class="form-control" rows="2" cols="65"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <div>
                    <label class="form-label" for="shotMessageAssistant">Assitant Message</label>
                </div>
                <div>
                    <textarea id="shotMessageAssistant" class="form-control" rows="2" cols="65"></textarea>
                </div>
                <div>
                    <button id="clearResponse" class="btn btn-danger" value="Clear">Clear</button>
                </div>
            </div>
        </div>

    </div>
    <div class="block col-md-6 shadow">
        <div>
            <label class="form-label">User</label>
            <textarea class="form-control" id="promptValue" rows="2" cols="100"></textarea>
        </div>
        <button id="generateResponse" type="button" class="btn btn-primary mt-3">Generate</button>
        <div id="responseDiv"></div>
        <div>
            <textarea id="txtHistory" rows="10" cols="100"></textarea>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>

        var coll = document.getElementsByClassName("collapsible");
        var i;



        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        $(document).ready(function() {
            var historyMessage;

            $("#responseDiv").hide();
            $("#txtHistory").hide();
            $("#generateResponse").click(function() {
                if ($("#promptValue").val() == '') {
                    $("#responseDiv").show();
                    $("#responseDiv").append('<div class="assistantMessageDiv" style="background-color:grey;color:white">please provide proper input</div>');
                }
                else {
                    var message = $("#sytemMessage").val() + "\n Here are the mappings:" + $("#txtfieldInfo").val();

                    var shotUser = $("#shotMessageUser").val();
                    var shotAssistant = $("#shotMessageAssistant").val();

                    if ($("#txtHistory").val() == "") {
                        $.ajax({
                            url: "../Home/GetResponse/",
                            type: "POST",
                            data: { userInput: $("#promptValue").val(), systemMessage: message, shotMessageUser: $("#shotMessageUser").val(), shotMessageAssistant: $("#shotMessageAssistant").val() },
                            dataType: "json",
                            success: function(data) {
                                $("#responseDiv").show();
                                $("#responseDiv").append('<div class="userMessageDiv" style="text-align:right;background-color:grey;color:white">' + $("#promptValue").val() + '</div>');
                                $("#responseDiv").append('<div class="assistantMessageDiv" style="background-color:grey;color:white">' + data + '</div>');

                                if ($("#txtHistory").val() == "") {
                                    historyMessage = "U:" + $("#promptValue").val() + "\nA:" + data;
                                }
                                else {
                                    historyMessage = $("#txtHistory").val() + "\nU:" + $("#promptValue").val() + "\nA:" + data;
                                }
                                $("#txtHistory").val(historyMessage);
                                $("#promptValue").val("");
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });
                    }
                    else {

                        $.ajax({
                            url: "../Home/GetResponse/",
                            type: "POST",
                            data: { userInput: $("#promptValue").val(), systemMessage: message, history: $("#txtHistory").val(), shotMessageUser: $("#shotMessageUser").val(), shotMessageAssistant: $("#shotMessageAssistant").val() },
                            dataType: "json",
                            success: function(data) {
                                $("#responseDiv").show();
                                $("#responseDiv").append('<div class="userMessageDiv">' + $("#promptValue").val() + '</div>');
                                $("#responseDiv").append('<div class="assistantMessageDiv">' + data +'</div>');
                                if ($("#txtHistory").val() == "") {
                                    historyMessage = "U:" + $("#promptValue").val() + "\nA:" + data;
                                }
                                else {
                                    historyMessage = $("#txtHistory").val() + "\nU:" + $("#promptValue").val() + "\nA:" + data;
                                }
                                $("#txtHistory").val(historyMessage);
                                $("#promptValue").val("");
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                console.log(textStatus, errorThrown);
                            }
                        });
                    }
                }
            })

            $("#clearResponse").click(function() {

                $("#sytemMessage").val("");
                $("#txtfieldInfo").val("");
                $("#shotMessageUser").val("");
                $("#shotMessageAssistant").val("");

            })
        });
    </script>
}