@{
    ViewData["Title"] = "Home Page";
   // Layout = null;
}

<div>
    <textarea id="promptValue" rows="2" cols="100" ></textarea>
    <button id="generateResponse" value="Generate">Generate</button>
</div>
<div id="responseDiv"></div>
@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#responseDiv").hide();
        $("#generateResponse").click(function(){
                $.ajax({
                    url: "/Home/ReturnResponse/",
                    type: "GET",
                    data: { input: $("#promptValue").val() },
                    dataType: "json",
                    success: function (data) {
                    $("#responseDiv").show();
                    $("#responseDiv").text(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
        })
        
    });
    </script>
}