.sys-msg {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: auto;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.text-area {
    margin-bottom: 1rem;
    box-shadow: none;
}
.text-area:focus{
    box-shadow: none;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.shotMessageContainer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y: auto;
    margin-top: 1rem;
}

.float-end {
    margin-top: 20px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 100px;
}

.chat-session {
    font-size: 28px;
    font-weight: 500;
}

.block-container {
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100%;
    margin-bottom: 30px;
}

.container {
    margin-left: 10px;
}

.block {
    flex: 1;
}

.block:first-child {
    margin-right: 15px;
}

.block:last-child {
    margin-left: 0;
}

.home-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 20px;
    height: 184px;
    box-shadow: 4px -1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.user-message-div {
    width: 100%;
    float: right;
    margin-bottom: 10px;
}

.assistant-message-div {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.heading {
    font-weight: bold
}

.message-container {
    padding: 10px;
    margin: auto;
    overflow-y: auto;
    height: calc(100% - 284px);
    background-color: #aba4a412;
}

.user-message {
    width: fit-content;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
}

.assistant-message {
    width: fit-content;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;
    background-color: rgb(252, 207, 207);
}

#leftPanel {
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
    transform: translateX(0);
    height: 100%;
    overflow-y: auto;
    min-height: 500px;
}

#leftPanel.transformed {
    overflow: hidden;
    opacity: 0;
    transform: translateX(-50%);
}

#rightPanel {
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
    height: 100%;
    overflow-y: auto;
    min-height: 500px;

}

#rightPanel.transformed {
    transform: translateX(-50%);
}

.shot-example {
    width: 100%;
    padding-right: 10px;

}

.form-group {
    margin-bottom: 5px;
}

.label {
   font-weight: 500;
}
.field-info-textarea{
    border: none;
}
.field-info-textarea:focus{
   box-shadow: none;
   border-color: #86b7fe;
}
.accordion-body {
    padding: 0px !important;
}

.accordion-button:hover {
   color: #212529;
}

.accordion-button:not(.collapsed)::after {
    content: "-";
    font-size: 30px;
    line-height: 0.5;
    background-image: none;
    transform: none;
    background-color: none;
    color: #DC3545;
}
.accordion-button.collapsed{
    background-color: #fff;
}
.btn:first-child:active{
    background-color: transparent;
    color: #212529;
}

.accordion-button.collapsed::after {
    content: "+";
    font-size: 30px;
    line-height: 0.5;
    background-image: none;
}

.accordion-button:not(.collapsed) {
    background: rgb(252, 207, 207) ;
    color: #DC3545;
}

.accordion-button:focus {
    background-color: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

::-webkit-scrollbar {
    width: 6px;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px rgb(209 47 57 / 45%);
}